label {
    color: var(--text-heading);
}
input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        opacity: 0;

    }
    
    &::-webkit-datetime-edit {
        color: var(--input-placeholder);
    }
    color: var(--text-heading);
}



.input-wrapper {
    .input-inner {
        display: flex;
        gap: 1rem;
        label {
            display: flex;
            flex-direction: column;
            flex: 1;

            input[type="text"],
            input[type="date"],
            input[type="tel"],
            input[type="email"],
            textarea {
                all: unset;
                transition: .3s;
                height: 3rem;
                border-radius: .5rem;
                background-color: var(--input-base);
                border: 1px solid var(--input-stroke);
                padding-inline: 1rem;
                font: var(--body-md);
                cursor: text;

                &::placeholder {
                    color: var(--input-placeholder);
                }

                &:focus,
                &:focus-within {
                    border-color: var(--brand-light);
                }
            }
            input:valid + .danger {
                display: none;
            }

            input:invalid {
                border: 1px solid var(--danger);
                color: var(--danger);

                & + .danger {
                    margin-top: -.5rem;
                    span {
                        color: var(--danger);
                        font: var(--body-xs);
                    }
                }
                & + div {
                    display: flex;
                    gap: .5rem;
                    
                }
                & + div > div {
                    display: flex;
                    background-color: var(--danger);
                    width: 1rem;
                    height: 1rem;
                    mask: url(../../icons/circle-alert.svg) no-repeat center/contain;
                }

            }

            input[type="date"] {
                cursor: pointer;
            }

            & > input[type="text"],
            & > input[type="date"],
            & > textarea {
                margin-bottom: 1rem;
            }

        }
    }

    .radio-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .radio-inner .radios {
        display: flex;
        margin-top: 0.75rem;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 0.5rem;
        max-height: 3rem;
        
        label {
            all: unset;
            transition: .3s;
            max-height: 2.5;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 1rem;
            margin: .25rem;
            border-radius: 0.5rem;
            background-color: transparent;
            cursor: pointer;
            flex: 1;
            width: 100%;
            color: var(--text-heading);
            font: var(--body-sm);


            &:has(:checked),
            &:has(:focus-within),
            &:has(:focus) {
                background-color: var(--input-stroke);
                color: var(--text-heading);
                font-weight: 600;
                img {
                    background-color: var(--brand-light);
                }

                input[type="radio"]::before {
                    background-color: var(--brand-light);
                }
            }
            
            input[type="radio"] {
                all: unset;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    background-color: var(--text-body);
                    margin-right: .5rem;
                }

                &.in-person {
                    mask: url(../../icons/building-2.svg) no-repeat center/contain;
                    width: 1rem;
                    height: 1rem;
                    margin-right: .5rem;
                }

                &.online {
                    mask: url(../../icons/video.svg) no-repeat center/contain;
                    width: 1rem;
                    height: 1rem;
                    margin-right: .5rem;
                }
            }
        }
    }
    
    .textarea-inner {
        flex-direction: column;
        gap: 0;
        
        textarea {
            transition: .3s;
            padding: 1rem;
            color: var(--text-heading);
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            outline: none;
            border-radius: .5rem;
            height: 8.5rem;
            resize: none;
            font: var(--body-md);

            &:focus,
            &:focus-within {
                border-color: var(--brand-light);
                
            }
        }
    }

    .field-colors {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-bottom: 1.75rem;
      span {
        margin-bottom: 1rem;
      }
      .colors {
        display: flex;
        label {
          div {
            cursor: pointer;
            transition: .2s;
            background-color: var(--shape-buttom);
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:has(:checked) {
              border: 2px solid var(--brand-light);
            }

            &:hover {
              background-color: var(--shape-hover);
            }
          }
          input {
            all: unset;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;

            &.brand-light {
              background-color: var(--brand-light);
            }
            &.navy {
              background-color: var(--navy);
            }
            &.purple {
              background-color: var(--purple);
            }
            &.fuschia {
              background-color: var(--fuschia);
            }
            &.pink {
              background-color: var(--pink);
            }
            &.orange {
              background-color: var(--orange);
            }
            &.yellow {
              background-color: var(--yellow);
            }
            &.lime {
              background-color: var(--lime);
            }
            &.green {
              background-color: var(--green);
            }
            &.cyan {
              background-color: var(--cyan);
            }
            &.red {
              background-color: var(--danger);
            }
          }
        }
      }
    }

    .event-theme {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 0rem;
      }
      
      .themes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
        margin-bottom: 1.75rem;
        div {
          transition: .3s;
          cursor: pointer;
          display: grid;
          background-color: aqua;
          width: 100%;
          padding: .25rem;
          grid-template-rows: 2fr 1fr;
          border-radius: 0.5rem;
          background-color: var(--shape-buttom);
          border: 2px solid var(--input-stroke);

          &:hover {
            border: 2px solid transparent;
          }

          input {
            all: unset;
            display: none;
          }

          img {
            display: block;
            height: 4rem;
            width: 100%;
            border-radius: .25rem;
          }

          span {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font: var(--body-sm);
            color: var(--text-heading);
          }

          &:has(:checked) {
            border: 2px solid var(--brand-light);
          }
        }
      }

      .other-theme {
        display: flex;
        gap: 1rem;
        height: 79px;

        .style {
          flex: 1;
          
          & > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .75rem;
            
            
            input {
              all: unset;
            }
            label {
              max-width: 4rem;
            }
            span {
              font: var(--body-sm);
              color: var(--text-heading);
            }

            .alt-checkbox {
              transition: .3s;
              margin-block: 35%;
              width: 4rem;
              height: 2rem;
              background-color: var(--input-base);
              border: 1px solid var(--input-stroke);
              border-radius: 3rem;
              padding: .25rem;
              cursor: pointer;

              &::before {
                content: "";
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                background-color: var(--input-stroke);
                border-radius: 50%;
                transition: transform .3s;
              }

            }
            &:has(:checked) {
              .alt-checkbox::before {
                transform: translateX(2rem);
                background-color: var(--text-heading);
              }

              .alt-checkbox {
                background-color: var(--brand-light);
              }
            }
          }
        }

        .picture-container {
          flex: 2;
          & > div {
            input {
              display: none;
            }

            label {
              margin-top: 1rem;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: .75rem;
              span {
                font: var(--body-sm);
                color: var(--input-placeholder);
              }
            }

            div {
              
              width: 7.5rem;
              height: 2.5rem;

              div {
                transition: .3s;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: var(--shape-buttom);
                border-radius: .5rem;
                span {
                  font: var(--body-sm);
                  color: var(--text-heading);
                  font-weight: 600;
                }

                &::before {
                  content: "";
                  display: block;
                  width: 1rem;
                  height: 1rem;
                  mask: url(../../icons/upload.svg) no-repeat center/contain;
                  background-color: var(--brand-light);
                  margin-right: .5rem;
                }

                &:hover {
                  background-color: var(--shape-hover);
                }

              }
            }
          }
        }
      }
    }
    
    .final-consent {
      span a {
        color: var(--brand-light);
      }
      span {
        color: var(--text-body);
        font: var(--body-sm);
      }

      label {
        display: flex;
        flex-direction: row;
        gap: .3rem;
      }

      .alt-checkbox2 {
        border: 1px solid var(--input-stroke);
        border-radius: .25rem;
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;
      }

      &:has(:checked) {
        .alt-checkbox2 {
          border: 1px solid var(--brand-light);
          background: url(../../icons/check.svg) no-repeat center/contain;
          background-size: 1rem;
          width: 1.25rem;
          height: 1.25rem;
          padding: 6px;
        }
      }

      input {
        all: unset;

        &:invalid {
          border: none !important;
        }
      }
    }

    span {
        font: var(--body-xs);
        color: var(--text-body);
        margin-bottom: 0.75rem;
    }

    .gen-invite {
      transition: .3s;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      height: 3rem;
      width: 11rem;
      border-radius: .5rem;
      margin-left: auto;
      gap: .75rem;
      background-color: var(--brand-dark);
      cursor: pointer;

      &:hover {
        background-color: var(--brand-mid);
      }

      img {
        width: 1.25rem;
        height: 1.25rem;
      }

      span {
        margin: 0;
        display: block;
        font: var(--body-md);
        color: var(--text-heading);
      }
    }
}


