* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    /* feedback */
    --danger: #FF5959;

    /* input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-buttom: #2D3136;
    --shape-hover: #383D42;

    /* text */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /* fonts */
    --family-logo: "Leckerli One", cursive;
    --font-logo: 400 2.5rem/normal var(--family-logo);

    --family-header: "Baloo 2", sans-serif;
    --heading-md: 700 1.5rem/normal var(--family-header);
    --heading-sm: 700 1.125rem/normal var(--family-header);
    

    --family-body: "Open Sans", sans-serif;
    --body-md: 400 1rem/normal var(--family-body);
    --body-sm: 400 0.875rem/normal var(--family-body);
    --body-xs: 400 0.75rem/normal var(--family-body);
}

body {
    background-color: var(--shape-background);
    margin: 1.25rem;
    
}

a {
    text-decoration: none;
    color: inherit;
}

fieldset + fieldset {
    margin-top: 3rem;
}

fieldset {
    border: none;
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: var(--input-stroke);
    margin: 3rem 0;
}

.purple {
    background-color: var(--purple);
}
.fuschia {
    background-color: var(--fuschia);
}
.pink {
    background-color: var(--pink);
}
.orange {
    background-color: var(--orange);
}
.yellow {
    background-color: var(--yellow);
}
.lime {
    background-color: var(--lime);
}
.green {
    background-color: var(--green);
}
.cyan {
    background-color: var(--cyan);
}
.navy {
    background-color: var(--navy);
}
.brand-light {
    background-color: var(--brand-light);
}